
.remoteVideo {
    background: rgb(251, 253, 255);
    height: 240;
    width: 400;
    padding: 12px 0;
}

.lvideo {
    background: rgb(251, 253, 255);
    height: 240;
    width: 400;
    padding: 12px 0;
}


